.timerBtn{
  width: 80px;;
  height: 30px;
  border: 3px solid;
  border-radius: 15px;
  background-color: bisque;
  color: brown;
  cursor: pointer;
  font-family: 'Helvetica', cursive;
}
#timeDisplay{
  font-size: 75px;
  font-family: consolas;
  color: #39ff14
}
#timeContainer{
  text-align: center;
  border: 3px solid #39ff14;
  border-radius: 15px;
  background-color: #222222;
  padding-bottom: 5px;
}
body {
  background-color: rgb(118, 118, 118);
}
